
  .top {
  	background-color: rgba(255,127,80, .8);
    height: 400px;
 
}
    
    }
    .jumboH {
      font-size: 100px;
    font-family: "Stardos Stencil", arial;
      padding-top: 900px;
      margin-top: 300px;
      margin-bottom: 300px;
      text-align: center;
vertical-align: middle;
    }
    .jumboP {
    font-family: "Open Sans", arial;
      font-size: 50px;
    }
.about {
  padding-top: 70px;
  padding bottom: 40px;
  text-align: center;
  height: 400px;
  font-family: "Open Sans", arial;
  font-size:20px;
  background-color: rgba(255,127,80, .6);
}
.slides {
  color: rgba(255,127,80, .4);
}
.contact {
  padding-top: 40px;
  padding bottom: 40px;
  text-align: center;
  height: 300px;
  font-family: "Open Sans", arial;
  font-size:20px;
  background-color: rgba(255,127,80, .6);
}
.carousel-inner img {
  margin: auto;
}
